body {
  font-family: 'Press Start 2P', sans-serif;
  color: lime;
  text-shadow: 2px 2px #237020;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

::selection {
  color: none;
  background: none;
}

.highscore {
  position: absolute;
  height: 90%;
  width: 90%;
  cursor: pointer;
  z-index: 100;
}

.scoreBar {
  background-color: lime;
}

.stop-click {
  pointer-events: none;
}

.bg-hidden {
  background-color: black;
}

.bg {
  background-image: url(Assets/image_processing20210522-29652-dst5w5.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.desk-font {
  color: rgb(210, 230, 216);
  text-shadow: 2px 2px #169c07;
}


.counter {
  border: 4mm ridge rgb(81, 255, 0, .5);
  padding: 10px;
  background-color: rgba(34, 34, 34, 0.8);
}

button:hover {
  scale: 102%
}

.miner {
  max-height: 338px
}

.clickable:hover {
  scale: 110%;
  cursor: pointer;
}

.stats-click {
  position: absolute;
  top: -170%;
  right: 77%;

}

.stats-interval {
  position: absolute;
  top: -170%;
  right: 14%;

}


.book {
  position: absolute;
  top: -65%;
  right: 75%;
}

.book>img {
  height: 195px;
  width: auto;
}

.game {
  position: absolute;
  top: -35%;
  right: 65%;
}

.game>img {
  height: 144px;
  width: auto;
}

.snack {
  position: absolute;
  top: -95%;
  right: 0%;
}

.snack>img {
  height: 222px;
  transform: scaleX(-1);
  width: auto;
}

.left-over {
  position: absolute;
  top: -35%;
  right: 20%;
}

.left-over>img {
  height: 134px;
  transform: scaleX(-1);
  width: auto;
}

.music {
  height: 10px;
}

.hidden {
  display: none;
}

.locked {
  filter: brightness(0);
}

.unlocked {
  filter: brightness(1);
}

.tray {
  box-sizing: border-box;
  width: 98%;
  height: max-content;
  padding: 0px;
  background-image: url(Assets/Desk.png);
  border: 0px solid black;
  background-size: 100% 100%;
}